<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffeeshop</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% load static %}
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Coffeeshop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Poți adăuga mai multe link-uri aici -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_list' %}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_list' %}">Orders List</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="text-center mt-4">
        <img src="{% static 'coffee/cf.jpg' %}" alt="Coffeeshop Background" class="img-fluid">
    </div>
    <div class="container mt-5">
        <h1 class="mb-4">{% block title %}Welcome to Iulian's Coffeeshop{% endblock title %}</h1>
        {% block content %}
        <!-- Conținutul specific fiecărei pagini va fi inserat aici -->
        {% endblock content %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>